*{
	padding: 0px;
	margin: 0px;
    box-sizing: border-box;
}

.container{
	width: 960px;
	margin: 0 auto;
}

.row{
	clear: both;
	display: table;
	width: 100%;
}

.mb-70{
	margin-bottom: 70px;
}

.mb-90{
	margin-bottom: 90px;
}

.mb-80{
	margin-bottom: 80px;
}

.heading-pri{
	color: #010101;
	font-size: 32px;
	margin-bottom: 25px;
	font-weight: bold;
	margin-top: 60px;
}

.heading-sec{
	color: #313841;
	margin-bottom: 25px;
	font-weight: 400;
	font-size: 20px;
	margin-bottom: 25px;
}
.para{
	font-size: 16px;
	color: #555555;
	font-weight: 400;
	margin-bottom: 40px;
}

.col1{
	width: calc( 100%*1/12 );
	padding: 0 15px;
	float: left;
}

.col2{
	width: calc( 100%*2/12 );
	padding: 0 15px;
	float: left;
}

.col3{
	width: calc( 100%*3/12 );
	padding: 0 15px;
	float: left;
}

.col4{
	width: calc( 100%*4/12 );
	padding: 0 15px;
	float: left;
}

.col9{
	width: calc( 100%*9/12 );
	padding: 0 15px;
	float: left;
}

.col5{
	width: calc( 100%*5/12 );
	float: left;
	padding: 0 15px;
}

.col10{
	width: calc( 100%*10/12 );
	padding: 0 15px;
	float: left;
}

.text-center{
	text-align: center;
}

header{
	background-color: #fcdb00;
	padding: 60px 0 105px;
}

.navbar{
	list-style: none;
}

.navbar a{
	text-decoration: none;
	padding: 0;
	display: inline-block;
	font-size: 22px;
	color: #010101;
	height: 47px;
	line-height: 47px;
}

.navbar li{
	display: inline-block;
	margin-right: 36px;
}

.navbar li:last-child{
	margin: 0;
}

.oslinks{
	list-style: none;
}

.oslinks li{
	display: inline-block;
	margin-right: 35px;
}

.oslinks li i{
	font-size: 40px;
	color: #010101;
}

.ipad{
	margin-left: 18px;
}

.feature{
	padding: 115px 0 165px 0;
}

.feature .para{
	margin-bottom: 90px;
}

.thumbnail i{
	font-size: 45px;
}

.thumbnailInfo h3{
	font-size: 22px;
	color: #010101;
	margin-bottom: 15px;
}

.thumbnailInfo p{
	font-size: 16px;
	color: #898989;
}

.footer{
	background-color: #010101;
	padding: 95px 0 140px;
}

.keepInTouch{
	margin: 0 40px;
}

.footer .heading-pri{
	color: #fcdb00;
}

.footer .para{
	color: #898989;
}

.email {
	height: 50px;
	width: calc(100% - 145px);
	margin-right: 15px;
	border-radius: 5px;
	padding: 25px;
}

.btn{
	height: 50px;
	width: 125px;
	background-color: #fcdb00;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	border-radius: 10px;
}

.socialLinks{
	margin-bottom: 130px;
}

.socialLinks li{
	display: inline-block;
	margin-right: 35px;
}

.footerLinks{
	list-style: none;
}
.capital li, capital li a{
	text-transform: capitalize;
}

.capital li a{
	text-decoration: none;
}

.footerLinks li, .footerLinks li a{
	color: #fff;
	text-decoration: none;
}

.socialLinks li i{
	font-size: 40px;
	color: #fcdb00;
}